@import 'scss/mixin/media';

.privacyPage :global main {
  text-align: left;
  padding-bottom: 100px;
  color: #292c30;
  background: #fafafb;
  .bg-white {
    background: white;
    padding: 88px 0 53px 0;
  }
  .title-bar {
    display: flex;
    align-items: flex-end;
    margin-bottom: 45px;
  }
  section {
    max-width: 1113px;
    margin-top: 76px;
  }
  .section-head {
    margin-top: 0;
  }
  h1 {
    margin: 0;
    font-weight: 600;
    font-size: 48px;
    line-height: 1;
    letter-spacing: -1px;
  }
  .date {
    color: #6a7076;
    font-family: Montserrat;
    font-style: italic;
    font-weight: 500;
    font-size: 14px;
    line-height: 26px;
    margin-left: 20px;
  }
  h4 {
    font-size: 18px;
    line-height: 2;
    font-weight: bold;
  }
  p {
    font-size: 18px;
    line-height: 2;
  }
  ul {
    list-style: disc;
    font-size: 18px;
    line-height: 2;
    margin-left: 1em;
  }
  @include media-md {
    .bg-white {
      padding: 55px 0 60px 0;
    }
    h1 {
      font-size: 24px;
    }
    .title-bar {
      margin-bottom: 28px;
    }
    .date {
      font-weight: 500;
      font-size: 10px;
      line-height: 1.2;
      margin-left: 4px;
    }
    .section-head {
      p {
        font-size: 14px;
        line-height: 160%;
      }
    }
  }
}
